<div style="text-align:center">
    <a href=" {% url 'set_cookies' %}"> <button type="submit">set_cookies</button> </a>
    <br /> <br />
    <a href="{% url 'get_cookies' %}"> <button type="submit">get_cookies</button> </a>
    <br /> <br />
    <a href=""> <button type="submit">delete_cookies</button> </a><br /> <br />
</div>
<hr />
<div style="text-align:center"> 
    {% if set %}
        <form action="" method="post">
           {% csrf_token %}
            Name: <input type="text" name="fname" id=""><br />
            Email: <input type="email" name="my_email" id=""> <br />
            Age: <input type="number" name="my_age" id=""> <br />
            <input type="submit" value="Set-Cookies-data"> <br />
        </form>
    {% elif set_done %}
    <h3>Our Cookies are set........</h3>
    {% elif data %}
    My Name is : {{data.name}} <br />
    My Age is : {{data.age}} <br />
    My Email is : {{data.email}} <br />

    {% endif %}
</div>